.Admin-card{
    padding: 10px;
    border-style: solid;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

.Admin-card{
    padding: 10px;
    border-style: solid;
    width: 300px;
    margin: 0 auto;
}

.Admin-add{
    padding: 5px;
}

